def read_input():
    with open('{{code_path}}') as reader:
        return [line.strip() for line in reader]


def main():
    data = read_input()
    print(data)
    # Start writing!!

if __name__ == '__main__':
    main()
